.topbarContainer{
    height: 60px;
    width:100%;
    background-color: #1877f2;
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    gap: 100px;
    justify-content: center;  
    z-index: 99;               
}
.topbarLinks a{
 text-decoration: none;
 color: #fff;
}


.logo{
    font-size:24px;
    margin-left:20px;
    font-weight:bold;
    color:white;
    cursor:pointer;
}

.searchIcon{
    width: 500px;
    height: 30px;
    border-radius: 30px;
    display:flex;
    padding: 0 0 0 5px;
    outline: none;
    align-items: center;
}

.topbarImg{
    width:35px;
    height:32px;
}

.topbarRight{
    display: flex;
    flex:3;
    align-items: center;
    justify-content: space-around;
    color:white;
} 

.topbarLinks{
    gap: 30px;
    display: flex;
}

.topbarLink{
    margin-right: 10px;
    /* font-size: 14px; */
    justify-content: center;
    display: inline;
    gap: 20px;
}
.topbarIcon{
    display:flex;
}
.topbarIconItem{
    margin-right: 25px;
    position:relative;
}
.topbarIconBadge{
    width:15px;
    height: 15px;
    background-color: red;
    border-radius: 40%;
    color:white;
    position:absolute;  
    top:-7px;
    right: -12px;
}
.topbarImg{
    width:32px;
    height: 32px;
    border-radius:50%;
}

.topbarIconBadge span{
 bottom: -2px;   
 display: grid;
 position:absolute;
 right: 5px;
 font-size: 15px;

}